In [1]:
import pandas as pd
df = pd.read_csv('census.csv')

df.head()

   age          workclass  ...  native-country  income
0   39          State-gov  ...   United-States   <=50K
1   50   Self-emp-not-inc  ...   United-States   <=50K
2   38            Private  ...   United-States   <=50K
3   53            Private  ...   United-States   <=50K
4   28            Private  ...            Cuba   <=50K

[5 rows x 14 columns]

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45222 entries, 0 to 45221
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              45222 non-null  int64
 1   workclass        45222 non-null  object
 2   education_level  45222 non-null  object
 3   education-num    45222 non-null  float64
 4   marital-status   45222 non-null  object
 5   occupation       45222 non-null  object
 6   relationship     45222 non-null  object
 7   race             45222 non-null  object
 8   sex              45222 non-null  object
 9   capital-gain     45222 non-null  float64
 10  capital-loss     45222 non-null  float64
 11  hours-per-week   45222 non-null  float64
 12  native-country   45222 non-null  object
 13  income           45222 non-null  object
dtypes: float64(4), int64(1), object(9)
memory usage: 4.8+ MB

In [3]:
df.describe()

                age  education-num  capital-gain  capital-loss  hours-per-week
count  45222.000000   45222.000000  45222.000000  45222.000000    45222.000000
mean      38.547941      10.118460   1101.430344     88.595418       40.938017
std       13.217870       2.552881   7506.430084    404.956092       12.007508
min       17.000000       1.000000      0.000000      0.000000        1.000000
25%       28.000000       9.000000      0.000000      0.000000       40.000000
50%       37.000000      10.000000      0.000000      0.000000       40.000000
75%       47.000000      13.000000      0.000000      0.000000       45.000000
max       90.000000      16.000000  99999.000000   4356.000000       99.000000

In [4]:
df.isnull().sum()

age                0
workclass          0
education_level    0
education-num      0
marital-status     0
occupation         0
relationship       0
race               0
sex                0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [5]:
df.columns

Index(['age', 'workclass', 'education_level', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [6]:
df_new = df
from sklearn.preprocessing import LabelEncoder

class_le = LabelEncoder()

df_new['education_level'] = class_le.fit_transform(df_new['education_level'].values) 

df_new['relationship'] = class_le.fit_transform(df_new['relationship'].values)

df_new['occupation'] = class_le.fit_transform(df_new['occupation'].values)

In [7]:
df_new = pd.get_dummies(df_new[['race','sex','income','workclass','marital-status']])

In [8]:
df_new

       race_ Amer-Indian-Eskimo  ...  marital-status_ Widowed
0                             0  ...                        0
1                             0  ...                        0
2                             0  ...                        0
3                             0  ...                        0
4                             0  ...                        0
...                         ...  ...                      ...
45217                         0  ...                        0
45218                         0  ...                        0
45219                         0  ...                        0
45220                         0  ...                        0
45221                         0  ...                        0

[45222 rows x 23 columns]

In [9]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45222 entries, 0 to 45221
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   race_ Amer-Indian-Eskimo               45222 non-null  uint8
 1   race_ Asian-Pac-Islander               45222 non-null  uint8
 2   race_ Black                            45222 non-null  uint8
 3   race_ Other                            45222 non-null  uint8
 4   race_ White                            45222 non-null  uint8
 5   sex_ Female                            45222 non-null  uint8
 6   sex_ Male                              45222 non-null  uint8
 7   income_<=50K                           45222 non-null  uint8
 8   income_>50K                            45222 non-null  uint8
 9   workclass_ Federal-gov                 45222 non-null  uint8
 10  workclass_ Local-gov                   45222 non-null  uint8
 11  workclass_ Private                     45222 non-null  uint8
 12  workclass_ Self-emp-inc                45222 non-null  uint8
 13  workclass_ Self-emp-not-inc            45222 non-null  uint8
 14  workclass_ State-gov                   45222 non-null  uint8
 15  workclass_ Without-pay                 45222 non-null  uint8
 16  marital-status_ Divorced               45222 non-null  uint8
 17  marital-status_ Married-AF-spouse      45222 non-null  uint8
 18  marital-status_ Married-civ-spouse     45222 non-null  uint8
 19  marital-status_ Married-spouse-absent  45222 non-null  uint8
 20  marital-status_ Never-married          45222 non-null  uint8
 21  marital-status_ Separated              45222 non-null  uint8
 22  marital-status_ Widowed                45222 non-null  uint8
dtypes: uint8(23)
memory usage: 1015.9 KB

In [10]:
y = df_new['income_<=50K']

In [11]:
df_new.drop(columns = {'income_<=50K' , 'income_>50K' } , axis=1 , inplace = True)

In [12]:
X = df_new

In [13]:
X.columns

Index(['race_ Amer-Indian-Eskimo', 'race_ Asian-Pac-Islander', 'race_ Black',
       'race_ Other', 'race_ White', 'sex_ Female', 'sex_ Male',
       'workclass_ Federal-gov', 'workclass_ Local-gov', 'workclass_ Private',
       'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc',
       'workclass_ State-gov', 'workclass_ Without-pay',
       'marital-status_ Divorced', 'marital-status_ Married-AF-spouse',
       'marital-status_ Married-civ-spouse',
       'marital-status_ Married-spouse-absent',
       'marital-status_ Never-married', 'marital-status_ Separated',
       'marital-status_ Widowed'],
      dtype='object')

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [29]:
from xgboost import XGBClassifier

xgb = XGBClassifier(learning_rate=0.01, n_estimators=2000, max_depth=8,
                        min_child_weight=0, gamma=0, subsample=0.52, colsample_bytree=0.6,
                        objective='binary:logistic', nthread=4, scale_pos_weight=1, 
                    seed=27, reg_alpha=5, reg_lambda=2, booster='gbtree',
            n_jobs=-1, max_delta_step=0, colsample_bylevel=0.6, colsample_bynode=0.6)
model = xgb.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [30]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7626312880044224

In [31]:
col_sorted_by_importance=xgb.feature_importances_.argsort()
feat_imp=pd.DataFrame({
    'cols':X.columns[col_sorted_by_importance],
    'imps':xgb.feature_importances_[col_sorted_by_importance]
})

#!pip install plotly-express
import plotly_express as px
px.bar(feat_imp, x='cols', y='imps')